*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild


/thirdparty/opencv-3.4.0-android-sdk/
/thirdparty/dlib/
/thirdparty/tensorflow/
/.idea/
/OpenCv/
